.navbar {
  background-color: $primary;
  color: $light;
  height: var(--el-header-height);
  align-items: center;

  .navbar-brand {
    background-color: $dark;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}