body, html {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  outline: none !important;
  font-family: Nunito, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}