@import 'reset';
@import 'fonts';
@import 'variables';
@import 'utl';
@import 'navbar';
@import 'sidebar';
* {
    font-family: 'Nunito', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}